.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: var(--background);
  padding: 30px;
  border-radius: var(--radius);
  position: relative;
  max-width: 90%;
  max-height: 90%;
  overflow-y: auto;
}

.modal-close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: var(--muted-foreground);
}

@media (max-width: 768px) {
  .modal-content {
    padding: 30px 10px;
  }
}
